/*
* Style Works for both Editor and Frontend
*/
.wp-block-aab-accordion-item {
  overflow: hidden;

  :focus {
    border: 1px solid lightskyblue;
  }

  .aagb__accordion_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    outline: 0;

    &:focus {
      border: none;
    }

    // Step css
    #complete-sign {
      background-color: #66CDA3;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      font-size: 15px;
      display: none;
      padding: 0 5px;
      line-height: 1.6;
    }

    // header icon
    .aagb__accordion_icon {
      width: 20px;
      height: 20px;
      border-radius: 50%;

      // Steps
      .aagb__icon_dashicons_box {
        display: flex;
        align-items: center;
        justify-content: center;

      }


    }

    // header icon position
    &.aagb_right_icon {
      flex-direction: row;
    }

    &.aagb_left_icon {
      flex-direction: row-reverse;
    }

    // heading
    .aagb__accordion_heading {
      &.aagb_right_icon {
        margin-right: 20px;
        flex: 1;
      }

      &.aagb_left_icon {
        margin-left: 20px;
        flex: 1;
      }

      &.aagb_right_link {
        display: flex;
        align-items: center;
      }

      &.aagb_left_link {
        position: relative;

        a {
          position: absolute;
          left: 0;
          top: 2px;
          padding-left: 0px !important;
        }

        .aagb__accordion_title {
          padding-left: 30px;
        }
      }

      .aagb__accordion_title.line-through {
        text-decoration: line-through;
      }

      .aagb__accordion_title {
        padding-top: 0;
        padding-bottom: 0;
      }


      a {
        text-decoration: none;
        color: #333333;
        opacity: 0.5;
        font-size: 1.4rem !important;
        line-height: 0.5;

        &.anchorjs-link {
          &:after {
            font-size: 1.4rem !important;
          }
        }
      }

      &:hover {
        a {
          opacity: 1;
        }
      }
    }
  }

  .collapse-icon span {
    display: block;
  }

  .aagb__accordion_body {
    display: none;
    padding-right: 10px;
    // Step css
    .continue {
      background: #41a9f8;
      border-radius: 3px;
      color: #ffffff;
      padding: 10px 20px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;


      .step-down-icon {
        color: #41a9f8;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }


    .aagb__accordion_component {
      p {
        margin-bottom: 20px;
      }
      &.aagb_overlay {
        > p:first-child {
          position: relative;
          z-index: 1;

          &::after {
            content: '';
            position: absolute;
            background: linear-gradient(to bottom, #ffffff00, rgba(#ffffff, 0.9));
            height: 50px;
            right: 0;
            bottom: -5px;
            left: 0;
            width: 100%;
            z-index: 2;
          }
        }
      }
    }
  }



}

.wp-block-aab-accordion-item.aagb__accordion_active {
  overflow: hidden;

  :focus {
    border: 0 solid #000000;
  }
}

.aagb_form_inner {
  max-width: 600px;
  width: 100%;
  margin: 0 auto 40px;
  text-align: center;

  .aagb_form_group {
    position: relative;

    &:before {
      position: absolute;
      right: 14px;
      content: "\f179";
      font-family: dashicons;
      top: 11px;
      font-size: 26px;
      color: #4444;
    }
  }

  .aagb_form_control {
    width: 100%;
    border: 1px solid #ccc;
    padding: 0 30px;
    border-radius: 4px;
    height: 60px;
    font-size: 18px;
    color: #333;
    padding-right: 55px;

  }

  input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button !important;
    height: 18px;
    width: 18px;
    margin-left: .4em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
  }

  .help-block {
    font-size: 16px;
  }
}


.aagb_accordion_wrapper_btn {
  display: flex;
  justify-content: flex-end;

  a {
    margin: 0px 0 5px 16px;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none !important;
    display: flex;

    &:hover {
      color: #069;
    }

    svg {
      width: 0.875em;
      margin-right: 4px;
    }
  }
}

.aagb__accordion_body .aagb_button_toggle {
  padding: 0px;
  border: 0px;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  border: 0px;

  &:hover {
    color: #4c4cf1;
    text-decoration: underline;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.label-d-block {
  display: block;
  margin-bottom: 5px;
}

.aagb__accordion_head--keyboard:focus {
  //border: 1px solid #d5ac09;
}

// Step CSS
.wp-block-aab-group-accordion {
  .aagb__accordion_container.step {
    .aagb__accordion_icon {
      width: auto;
      height: auto;
    }
  }

  .aagb__accordion_container.style-qa.step {
    .aagb__accordion_body {
      .continue {
        width: 90%;
        margin-bottom: 10px;
      }
    }
  }
}

//.wp-block-aab-accordion-item .aagb__accordion_body .continue

.wp-block-aab-group-accordion {

  .step-result {
    border: 1px solid #3e94b2;
    display: none;
    padding: 20px;
  }
}


//Group Accodion QA style
.wp-block-aab-accordion-item.aagb__accordion_container.style-qa {

  //.aagb__accordion_head--keyboard:focus{
  //	border: 1px solid #e7e1e6;
  //}

  .aagb__accordion_head {
    padding: 10px;

    .aagb__accordion_heading {
      gap: 10px;


      .icon-container {
        display: block;
        position: relative;


        .icon-q {
          background: #505050;
          color: #fff;
          width: 80px;
          line-height: 43px;
          font-size: 25px;
          text-align: center;
          border-radius: 3px;
          font-weight: 500;
          position: relative;
          z-index: 2;
        }

        .icon-a {
          background: #f5a623;
          color: #fff;
          width: 80px;
          line-height: 43px;
          font-size: 25px;
          text-align: center;
          border-radius: 3px;
          font-weight: 500;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: all 0.4s ease-in-out;
          z-index: 1;
        }
      }
    }
  }

  .aagb__accordion_body {
    //padding: 0 0 0 90px;
    border-top: none !important;

    .block-editor-inner-blocks {
      .block-editor-block-list__layout {
        :first-child {
          margin-top: 0;
        }
      }
    }
  }

  .aagb__accordion_body.aagb__accordion_body--show {
    border-top: none !important;

    .aagb__accordion_component :first-child {
      margin-top: 0;
    }
  }

  :where(.wp-site-blocks *:focus) {
    outline-width: 0;
    outline-style: none;
  }

}

.wp-block-aab-accordion-item.aagb__accordion_container.style-qa.aagb__accordion_active {
  .aagb__accordion_head {
    :active {
      border-bottom: none !important;
    }

    .aagb__accordion_heading {
      .icon-container {
        .icon-a {
          top: 43px;
          opacity: 1;
        }
      }
    }
  }

  .aagb__accordion_head--keyboard:focus {
    border: none !important;
  }
}


.block-editor-block-list__block.wp-block.aagb__accordion_container.style-qa.wp-block-aab-accordion-item {
  .aagb__accordion_heading {
    .icon-container {
      .icon-a {
        top: 40px;
        opacity: 1;
        z-index: 101;
      }
    }
  }
}

//  check-list
.wp-block-aab-accordion-item.aagb__accordion_container.check-list {
  .aagb__accordion_head {
    background: red;

    .aagb__accordion_heading {
      //.checklist-box{
      //
      //}

      /* Basic Styling */
      .checklist-box {
        width: 25px;
        height: 25px;
        -moz-appearance: none;
        appearance: none;
        -webkit-appearance: none;
        /* align-self: start; */
        border: 1px solid #e6e6e6;
        background-color: #fff;
        cursor: pointer;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
      }

      /* Checked State */
      .checklist-box:checked {
        //background-color: #f5a623; /* Color when checked */
      }

      /* Optional: Checkmark Icon (using pseudo-elements) */
      .checklist-box:checked::after {
        content: "✓";
        display: block;
        text-align: center;
        font-size: 16px; /* Adjust size as needed */
        color: #0707a3;
      }

      /* Optional: Focus State */
      .checklist-box:focus {
        outline: none; /* Remove default focus outline */
        //box-shadow: 0 0 3px 2px #f5a623; /* Add a subtle box shadow */
      }
    }
  }
}


.block-editor-block-list__block.aagb__accordion_container.check-list.wp-block-aab-accordion-item {
  .aagb__accordion_head {
    background: red;

    .aagb__accordion_heading {
      //.checklist-box{
      //
      //}

      /* Basic Styling */
      .checklist-label {

        position: relative;
        /* border: 1px solid red; */
        width: 25px;
        height: 25px;
        //margin-right: 8px;

        border: 1px solid #e6e6e6;
        background-color: #fff;
        cursor: pointer;
        margin-right: 10px;
        //display: flex;
        //justify-content: center;
        //align-items: center;
        border-radius: 4px;

        span {
          width: 25px;
          height: 25px;
          //background-color: #e38e8e;
          position: absolute;
          top: 0;
          left: 0;
        }

        span:after {
          content: "✓";
          display: block;
          text-align: center;
          font-size: 16px;
          color: #0707a3;
          display: none;
        }

        .checklist-box {
          width: 0;
          height: 0;
          position: absolute;
          opacity: 0;
          padding-left: 25px;
        }


      }

      .checklist-box {
        //width: 25px;
        //height: 25px;
        //-moz-appearance: none;
        //appearance: none;
        //-webkit-appearance: none;
        ///* align-self: start; */
        //border: 1px solid #e6e6e6;
        //background-color: #fff;
        //cursor: pointer;
        //margin-right: 10px;
        //display: flex;
        //justify-content: center;
        //align-items: center;
        //border-radius: 4px;
        //opacity: 0;
        //position: relative;
      }

      .checklist-box::after {
        //content: "hi"; /* Unicode checkmark character */
        //display: block;
        //text-align: center;
        //font-size: 16px; /* Adjust size as needed */
        //color: #0707a3;
        //content: "✓";
        //display: block;
        //text-align: center;
        //font-size: 16px;
        //color: #0707a3;

      }

      /* Checked State */
      .checklist-box:checked {
        //background-color: #f5a623; /* Color when checked */
      }


      /* Optional: Checkmark Icon (using pseudo-elements) */
      //.checklist-box:checked::after {
      //	content: "hi"; /* Unicode checkmark character */
      //	display: block;
      //	text-align: center;
      //	font-size: 16px; /* Adjust size as needed */
      //	color: #0707a3;
      //}

      ///* Optional: Focus State */
      //.checklist-box:focus {
      //	outline: none; /* Remove default focus outline */
      //	//box-shadow: 0 0 3px 2px #f5a623; /* Add a subtle box shadow */
      //}
    }
  }
}


// Steps
.wp-block-aab-accordion-item.aagb__accordion_container.check-list.style-qa {
  .aagb__accordion_head {
    .aagb__accordion_heading {
      .checklist-box {

      }
    }
  }

  .aagb__accordion_body {
    padding-left: 150px;
  }
}

.aagb__accordion_body.aagb__accordion_body--visible {
  display: block !important;
}

//Test
//.aagb__accordion_container:focus{
//	border: 1px solid #871818FF !important;
//	outline-width: 1px;
//	outline-style: none;
//}



